header {
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: -10px;
    background: #3983a2;
    height: 80px;
}
header > svg {
    color: aliceblue;
}
#logo {
    display: flex;
    justify-content: left;
    color: aliceblue;
    float: left;
    padding: 30px;
}
#links {
    display: flex;
    justify-content: center;
    float: left;

}
#pesquisar {
    display: flex;
    justify-content: left;
    color: aliceblue;
    float: right;
}