.about h1 
{  
    font-size: 500%;
    font-family: "Itim", cursive;
}
.about h2
{ 
    font-size: 200%;
    font-family: "Itim", cursive;
    margin-left: 25%;
}
.subtexto
{
    font-family: "Itim", cursive;
    font-size: 150%;
    margin-left: 25%;
    max-width: 900px;
    max-height: 100px;
    text-align: justify;
    margin-bottom: 10%;
    }
.subtexto1
{
    font-family: "Itim", cursive;
    font-size: 150%;
    margin-left: 25%;
    max-width: 900px;
    max-height: 100px;
    text-align: justify;
    margin-bottom: 30%;
    }
    .subtexto1 a
{
margin-bottom: 30%;
}
footer 
{
    padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
} 
.video
{
    position: absolute;
    margin-left: 50%;
   min-height: 600px;
    transform: translate(-50%, -50%);
    margin-bottom: 500px;
}
.video p
{
    margin-top: 10%;
    font-family: "Itim", cursive;
    font-size: 200%;
    margin-left: 25%;
    max-width: 900px;
    max-height: 100px;
    text-align: justify;
    margin-bottom: 2%;
}
.video a
{
    font-family: "Itim", cursive;
    font-size: 200%;
    margin-left: 25%;
    max-width: 900px;
    max-height: 100px;
    text-align: justify;
    margin-bottom: 100%;
}